<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>controllers.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutController</servlet-name>
        <servlet-class>controllers.logoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrationController</servlet-name>
        <servlet-class>controllers.registrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xRegistrationController</servlet-name>
        <servlet-class>controllers.xRegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CTController</servlet-name>
        <servlet-class>controllers.CTController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login2Controller</servlet-name>
        <servlet-class>controllers.login2Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createBlogController</servlet-name>
        <servlet-class>controllers.createBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buyController</servlet-name>
        <servlet-class>controllers.buyController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutController</servlet-name>
        <url-pattern>/logoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrationController</servlet-name>
        <url-pattern>/registrationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xRegistrationController</servlet-name>
        <url-pattern>/xRegistrationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CTController</servlet-name>
        <url-pattern>/CTController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login2Controller</servlet-name>
        <url-pattern>/login2Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createBlogController</servlet-name>
        <url-pattern>/createBlogController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buyController</servlet-name>
        <url-pattern>/buyController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>jsp/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
